{% extends 'base.html' %}

{% block content %}

    <h1 style='text-align:center;'>Build-a-Blog</h1>

    {% if total_posts != True %}
         <br>
         <br>
         <p>No Blog Posts Yet</p>

    {% else %}
        <ul style='list-style-type: none;'>
        {% for t in blog_titles %}
            <li>
                {{t.title}}
            </li>
        {% endfor %}
        {% for d in dates %}
            <li>
                {{d.date}}
            </li>
        {% endfor %}
        {% for p in posts %}
            <li>
                {{p.blog_post}}
            </li>
        {% endfor %}
        </ul>
        
    {% endif %}
        
{% endblock %}